<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--link   rel="stylesheet" type="text/CSS" href="/static/css/boot.css" -->
</head>
<body>
    <h1> hello</h1>

<table border="1"  >
 <tr style="margin:  900px ;"> <th >imputation </th><th >budget </th><th >sum(montant) </th><th>disponible</th></tr>
 {%- for l in list1  %}
<tr ><td>{{l[:][0] }}</td> <td>{{l[:][1] }}</td><td>{{l[:][2] }}</td> <td>{{l[:][3] }}</td>    </tr>
{%- endfor %}
</table>


</body>
</html>
